<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top py-0">
  <div class="container-fluid">
      <a class="navbar-brand" href="https://connect.revature.net/"> <img src="../../assets/img/rev-logo-alt.png" width="200px"></a>
  </div>
  <div *ngIf="checkNavbar()" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li  class="nav-item">
        <a *ngIf="isLoggedIn()" id="survey" (click)="getDisable()" [class]="getDisable()" routerLink="/survey">Survey</a>
      </li>

      <!--
      <li  class="nav-item">
        <a *ngIf="isLoggedIn()" id="submission" (click)="getDisable()" class="nav-link" [routerLink]="[getSurveyId()]">Submit</a>
      </li>
      -->

      <li  class="nav-item">
        <a *ngIf="isLoggedIn()" id="upload" (click)="getDisable()" class="nav-link" routerLink="/upload">Upload</a>
      </li>

      <li  class="nav-item">
        <a *ngIf="isLoggedIn()" id="analytics" (click)="getDisable()" class="nav-link" routerLink="/analytics">Analytics</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLoggedIn()" id="sendemails" (click)="getDisable()" class="nav-link" routerLink="/sendemails">Email</a>
      </li>

      <li  class="nav-item">
        <a *ngIf="isLoggedIn()" id="admin" (click)="getDisable()" class="nav-link" routerLink="/admin">Admin</a>
      </li>

      <li  class="nav-item">
        <a *ngIf="!isLoggedIn()" id="login" (click)="getDisable()" class="nav-link" routerLink="/login">Login</a>
      </li>

      <li  class="nav-item">
        <a *ngIf="isLoggedIn()" id="logout" (click)="logout()" class="nav-link" routerLink="/login">Logout</a>
      </li>

    </ul>
  </div>
</nav>


