        <div class="container bubble">
            <div class="d-flex justify-content-center">
                <h1>Create QC Account</h1>
            </div>
            <hr>
            <br>
            <div class="d-flex justify-content-center">
                <p>Please enter the QC member's information below:</p>
            </div>
            <div class="d-flex justify-content-center">
                <input class="form-control" type="text" id="firstName" placeholder="First Name" autocomplete="off">
            </div>
            <div class="d-flex justify-content-center">
                <input class="form-control" type="text" id="lastName" placeholder="Last Name" autocomplete="off">
            </div>
            <div class="d-flex justify-content-center">
                <input class="form-control" type="text" id="email" placeholder="Email" autocomplete="off">
            </div>

            <div class="d-flex justify-content-center">
                <button (click)="registerEmployee()" class="btn btn-lg btn-custom" style="width: 250px;" id="register">Register Employee</button>
            </div>


        </div>
