
  <div class="container bubble">

    <div class="d-flex justify-content-center">
      <h1 class="display-4">{{survey.title}}</h1>
    </div>
    <hr>
    <div class="container">

      <br>
      <p>{{survey.description}}</p>
      <span>* Required</span>
    </div>

    <br><hr><br>

    <form [formGroup]="submissionForm" (ngSubmit)="submit()">
      <div>
        <div id="name-question">
            <div class="mb-3">
                <label for="name" class="form-label">Name (Optional)</label>
                <input type="text" class="form-control" id="name">
              </div>
        </div>

        <div id="email-question">
          <div class="mb-3">
            <label for="email" class="form-label">Email (Optional)</label>
            <input type="text" class="form-control" id="email">
          </div>
        </div>

        <br> <hr> <br>

        <div id="location-question">
          <div class="mb-3">
            <label for="location" class="form-label">Where is your training location? <span>*</span></label>
            <select class="form-control" id="location" required></select>
          </div>
        </div>

        <div id="batch-question">
          <div class="mb-3">
            <label for="batch" class="form-label">What batch are you in? <span>*</span></label>
            <select class="form-control" id="batch" formControlName="batch" required></select>
          </div>
        </div>

        <br> <hr> <br>

        <div id="week-question">
            <label for="week" class="form-label">What was your most recently completed week of training? (Extended batches start with Week A, normal batches start with Week 1)<span>*</span></label>
            <select class="form-control" id="week" formControlName="week" required>
              <option value="A">Week A</option>
              <option value="B">Week B</option>
              <option value="1">Week 1</option>
              <option value="2">Week 2</option>
              <option value="3">Week 3</option>
              <option value="4">Week 4</option>
              <option value="5">Week 5</option>
              <option value="6">Week 6</option>
              <option value="7">Week 7</option>
              <option value="8">Week 8</option>
              <option value="9">Week 9</option>
            </select>
        </div>

        <div class="survey-questions" *ngFor="let question of questions; index as i; " formArrayName="responses">
          <radio-question id="{{'question-'+i}}" [question]="question" [index]="i" [form]="submissionForm" *ngIf="question.questionType == 'RADIO'"></radio-question>
          <multiple-choice-question id="{{'question-'+i}}" [question]="question" [index]="i" [form]="submissionForm" *ngIf="question.questionType == 'MULTIPLE_CHOICE'"></multiple-choice-question>
          <short-answer-question id="{{'question-'+i}}" [question]="question" [index]="i" [form]="submissionForm" *ngIf="question.questionType == 'SHORT_ANSWER'"></short-answer-question>
          <dropdown-question id="{{'question-'+i}}" [question]="question" [index]="i" [form]="submissionForm" *ngIf="question.questionType == 'DROPDOWN'"></dropdown-question>

        </div>

        <br><hr><br>

        <button id="submit-survey" type="submit" class="btn btn-lg btn-custom">Submit</button>
      </div>
    </form>
  </div>
