<div class="container">
  <div class="text-center">
    <h1 class="display-4">Create A New Survey</h1>
  </div>
  <form [formGroup]="surveyForm" (submit)="submit()">

    <div class="row">
      <div class="col-sm">
        <mat-form-field class="form-field" appearance="fill" class="formField">
          <mat-label> Survey Name </mat-label>
          <input matInput class="form-control form-control-lg" formControlName="title" placeholder="Survey Name" name="title" required />
          <mat-error *ngIf="surveyForm.controls.title.touched">
            <span *ngIf="surveyForm.controls.title.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm d-flex align-items-end" >
        <mat-form-field class="form-field" appearance="fill" class="formField">
          <mat-label> Description </mat-label>
          <input matInput class="form-control form-control-lg" formControlName="description" placeholder="Survey Description" name="description" required />
          <mat-error *ngIf="surveyForm.controls.title.touched">
            <span *ngIf="surveyForm.controls.title.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

      <div class="table table-bordered">
        <div class="row">
          <div class="col-sm">
            <h3 colspan="2">Questions</h3>
          </div>

          <div class="col-sm">
            <h4 width="150px"><button type="button" (click)="addQuestion()" class="mat-raised-button btn addQuestion">Add More</button></h4>
          </div>
        </div>

        <div [formGroup]="surveyForm">
          <div class="row" *ngFor= "let question of getQuestions(); let i=index" formArrayName="questions">
            <app-question [questionId]="i" (removeSelf)="removeQuestion($event)"></app-question>
          </div>
        </div>
      </div>

    <button mat-raised-button class="mat-raised-button btn addQuestion" type="submit">Submit</button>
  </form>
</div>
