<div class="container">
    <div class="text-center">
      <h1 class="display-4">Create A New Survey</h1>
    </div>
    <form [formGroup]="surveyForm" (submit)="addSurvey()">
    <div class="row">
      <div class="col-sm">
      <mat-form-field class="form-field" appearance="fill" class="formField">
        <mat-label> Survey Name
        </mat-label>
        <input matInput class="form-control form-control-lg" formControlName="surveyName" placeholder="Survey Name" name="surveyName" required />
        <mat-error *ngIf="surveyForm.controls.surveyName.touched">
          <span *ngIf="surveyForm.controls.surveyName.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm d-flex align-items-end" >
      <mat-form-field class="form-field" appearance="fill" class="formField">
        <mat-label> Description
        </mat-label>
        <input matInput class="form-control form-control-lg" formControlName="description" placeholder="Survey Description" name="description" required />
        <mat-error *ngIf="surveyForm.controls.surveyName.touched">
          <span *ngIf="surveyForm.controls.surveyName.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>
    </div>
      <table class="table table-bordered" formArrayName="questions">
        <tr>
          <th colspan="2">Add Questions</th>
          <th width="150px"><button type="button" (click)="addQuestion()" class="mat-raised-button btn addQuestion">Add More</button></th>
        </tr>
      <tr *ngFor= "let question of questions().controls; let i=index" [formGroupName]="i">
       <td>
         <mat-form-field appearance="fill" class="questionField">
          <mat-label> Question
          </mat-label>
          <input matInput class="form-control form-control-lg" formControlName="quest" placeholder="Question" name="quest" required />
          <mat-error *ngIf="surveyForm.controls.surveyName.touched">
            <span *ngIf="surveyForm.controls.surveyName.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
       </td>
       <td>
        <mat-form-field class="text-center d-flex justify-content-center" appearance="fill">
          <mat-label> Question Type </mat-label>
          <mat-select matSelect formControlName="questionType" name="questionType" required>
          <mat-option value="CHECKBOX">Check Box</mat-option>
          <mat-option value="DROPDOWN">Drop Down</mat-option>
          <mat-option value="MULTIPLE_CHOICE">Multiple Choice</mat-option>
          <mat-option value="PARAGRAPH">Paragraph</mat-option>
          <mat-option value="RADIO">Radio</mat-option>
          <mat-option value="SHORT_ANSWER">Short Answer</mat-option>
        </mat-select>
      </mat-form-field>
       </td>
       <td>
        <button id="removeButton" type="button" (click)="removeQuestion(i)" class="mat-raised-button btn">Remove</button>
      </td>
      </tr>
      </table>
      <button mat-raised-button class="mat-raised-button btn addQuestion" type="submit">Submit</button>
    </form>
  </div>
