.display-4 {
  padding-bottom: 10px;
}

.align-items-center {
  margin-top: 8%;
}

.form {
  margin: auto;
  max-width: 360px;
}

.btn.tab{
  background-color: inherit;
  border-style: solid;
  border-color: #404144;
  border-width: 1px;
  margin-right: 3px;
}

.btn.tab.active{
  background-color:#a3ccee;
}

button.tab.active:hover{
  background-color: inherit
}

button.tab:hover{
  background-color:#c0c3ca;
}

button.tab:active{
  background-color:#404144;
}

.bubble {
  width: 500px;
}

.btn-custom {
  height: auto;
  margin-top: 25px;
}

.formField {
  width: 90%;
}

.questionField {
  width: 100%;
}

.btn.addQuestion {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn.addQuestion:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
