<div class="row">
    
    <div class=" bubble col-4">
        <div class="container-fluid align-items-center">
            <!--ngb nav gives tabs, active is what we ref in ts to see what's on top-->
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-justified">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>By Week</a>
                    <ng-template ngbNavContent>
                        <mat-form-field appearance="outline" class="form-control form-control-sm">
                            <mat-label class="form-label">Survey</mat-label>
                            <mat-select name="survey-dropdown" [formControl]="surveyWeek">
                              <mat-option *ngFor="let survey of surveys | keyvalue" class="form-control" [value]="[survey.key]">
                                  {{survey.value}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="form-control form-control-sm" color="accent">
                            <mat-label>Enter a date range</mat-label>
                            <!--range has two dates as form controls-->
                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Start date">
                                <input matEndDate formControlName="end" placeholder="End date">
                              </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker workweek #picker></mat-date-range-picker>
                            <!-- if invalid range -->
                            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                          </mat-form-field>
                          <p *ngIf='!(range.controls.start.value+"").includes("class Validator")' class="d-flex justify-content-center">Week of: {{($any(range.get('start')).value+"").substring(0,15) }}</p>
    
                          <div class="row">
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-lg btn-custom submitBtn" (click)="getData()" [disabled]="!form1.valid">Search</button>
                            </div>
                        </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink>By Batch and Week</a>
                    <ng-template ngbNavContent>
                        
                        <mat-form-field appearance="outline" class="form-control form-control-sm">
                            <mat-label class="form-label">Survey</mat-label>
                            <mat-select name="survey-dropdown" [formControl]="surveyWeekBatch">
                              <mat-option *ngFor="let survey of surveys | keyvalue" [value]=[survey.key]>
                                  {{survey.value}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="form-control form-control-sm">
                            <mat-label>Location</mat-label>
                            <mat-select (selectionChange)="selectedValueActionLocation($event)" [formControl]="locationSelect"> 
                              <mat-option *ngFor="let location of locations" [value]="location">
                                  {{location}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="form-control form-control-sm">
                            <mat-label>Batch</mat-label>
                            <mat-select (selectionChange)="selectedValueActionBatch($event)" [formControl]="batchSelect">
                              <mat-option *ngFor="let batch of batches" [value]=batch.batchId>
                                  {{batch.name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="form-control form-control-sm">
                            <mat-label>Week</mat-label>
                            <mat-select [formControl]="weekSelect">
                              <mat-option *ngFor="let week of weeks" [value]="week">
                                  Week of {{(week+"").substring(0,15)}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-lg btn-custom submitBtn" (click)="getData()" [disabled]="!form2.valid">Search</button>
                            </div>
                        </div>
                    </ng-template>
                  </li>
                  
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
    
    
             
         </div>    
    </div>
    <app-barcharts [nestedReport]="parentReport" class="col-8"></app-barcharts>
</div>

<app-piecharts [nestedReport]="parentReport"></app-piecharts>