<button class="btn btn-lg btn-custom" (click)="changeData()">Change Data</button>

<div id="chart" *ngIf="barChartOptions!==undefined&& barChartOptions.series!==undefined&& barChartOptions.chart!== undefined && barChartOptions.dataLabels!==undefined&&barChartOptions.plotOptions!==undefined">
    <apx-chart
      [series]="barChartOptions.series"
      [chart]="barChartOptions.chart"
      [dataLabels]="barChartOptions.dataLabels"
      [plotOptions]="barChartOptions.plotOptions"
    ></apx-chart>
  </div>
