<!-- Upload -->
<div class="container bubble">
  <div class="d-flex justify-content-center">
    <h1>Upload CSV File</h1>
  </div>

  <div class="container">
    <br>
    <hr>
    <br>
  </div>

  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-column">
      <mat-form-field appearance="outline" class="form-control form-control-sm">
        <mat-label class="form-label">Survey</mat-label>
        <mat-select name="survey-dropdown" [formControl]="surveyWeek">
          <mat-option *ngFor="let survey of surveys | keyvalue" class="form-control" [value]="[survey.key]">
              {{survey.value}}
        </mat-option>
        </mat-select>
      </mat-form-field>
      <input type="file" name="upload-file" class="form-control" id="uploadedCSV" accept=".csv">
      <br>
      <button id="uploadButton" name="submit" class="btn btn-custom" (click)="upload()">Upload</button>
    </div>
  </div>
  <br>
  <br>

  <p>Using the form above, you may upload QC data from the Google Forms QC Survey and add it to the database.
      Please ensure that the data is uploaded as a .CSV from Google Sheets.</p>
</div>